* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: white;
}

header {
    position: relative;
    text-align: center;
    color: white;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}

.hero-img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.hero-img.left {
    left: 0;
}

.hero-img.right {
    right: 0;
}

.title {
    font-size: 284.81px; /* Adjust font size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background: none; /* Remove background */
}

.info {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: none;
}

.info div {
    text-align: center;
    background: none; /* Remove background */
}

.text-box {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 5px;
    background: none;
    color: #9c524c;
    font-size: 50px; /* Adjust font size as needed */
    z-index: 2; /* Ensure it appears above other elements */
    outline: 1px solid #9c524c;
    outline-offset: 5px
}

.text-box p {
    padding: 5px;
    color: #9c524c;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 20px; /* Adjust font size as needed */
}

h2 {
    font-size: 50px;
    font-weight: normal; /* Regular font weight */
    background: none; /* Remove background */
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 32px; /* Adjust font size as needed */
    background: none; /* Remove background */
}

footer p {
     font-size: 8px; /* Adjust font size as needed for mobile */
}

.info a {
    color: white; /* Link color */
    text-decoration: none;
    background: none; /* Remove background */
}

.info a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.section {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* Center-aligned text */
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    grid-template-rows: repeat(1);   /* 2 rows */
    gap: 10px;
    padding: 20px;
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0d0d0d;
    color: white;
}

@media (max-width: 768px) {
    .hero-img.left {
        width: 100%;
    }

    .hero-img.right {
        display: none;
    }

    .title {
        font-size: 75px; /* Adjust font size as needed for mobile */
    }

    h2 {
        font-size: 40px; /* Adjust font size as needed for mobile */
    }

    p {
        font-size: 12px; /* Adjust font size as needed for mobile */
    }

    footer p {
            font-size: 8px; /* Adjust font size as needed for mobile */
            padding: 5px 0; /* Add padding to create space between lines */
    }

    .text-box {
        position: absolute;
        top: 3%;
        left: 10%;
        padding: 10px;
        background-color: none;
        color: #9c524c;
        font-size: 20px; /* Adjust font size as needed */
        z-index: 2; /* Ensure it appears above other elements */
    }

    .text-box p {
        font-family: 'Inter', sans-serif;
        color: #9c524c;
        position:right;
        font-size: 10px; /* Adjust font size as needed */
    }
}
