// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $off-white;
  border-color: lighten($black, 0%);
  border-radius: 50px;
  color: $bright-red;
  &:active,
  &:focus,
  &:hover {
    background-color: $bright-red !important;
    border-color: $bright-red;
    color: $off-white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}
