// Styling for the footer
.footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}

ul.social-buttons {
  li {
    display: inline-block;
    a {
      font-size: 20px;
      line-height: 50px; // Ensure line-height is equal to the height for vertical centering
      display: flex; // Use flexbox for better centering control
      justify-content: center; // Center horizontally
      align-items: center; // Center vertically
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: $off-white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;
      text-align: center; // Center the text/icon horizontally
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}

