// Styling for the links section
.link-heading {
  margin: 15px 0;
  text-transform: none;
}

.section-subheading {
  color: black;
  font-size: 94px !important;
  font-style: italic;
  margin-top: -100px;
}