.gig-row {
  display: flex;
  align-items: center; /* Vertically centers the icon with the text */
  margin-bottom: 15px; /* Adds space between each gig entry */
}

.gig-link {
  display: flex;
  align-items: center; /* Ensures the icon is centered vertically */
  margin-right: 20px; /* Adds space between the icon and the text */
}

.gig-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gig-title h3,
.gig-title p {
  margin: 0; /* Removes default margins that might cause misalignment */
  padding: 0;
}

#upcoming-gigs h3 {
  margin-bottom: 5px;
}

#upcoming-gigs p {
  color: $off-white;
  // font-size: 12px;
  margin: 0;
}

#upcoming-gigs a {
  color: $off-white;
  text-decoration: none;
}

#upcoming-gigs a:hover {
  text-decoration: underline;
}
