// Global styling for this template
body {
  background-color: $off-white;
  overflow-x: hidden; /* Ensure no horizontal overflow */
  @include body-font;
}

// About page edits
.about-row {
  display: flex;
  flex-direction: row; /* Arrange text and image side by side */
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: auto;
  // min-height: 100vh;
  align-items: flex-start;
}

.text-container {
  flex: 1;
  padding: 20px;
  height: auto;
  align-self: flex-start; /* Align the image container to the bottom of its parent */
}

.text-container.expanded {
  max-height: none; /* Allows the full text to be shown when expanded */
}

.image-container {
  flex: 1;
  background-image: url('../img/BW_kt.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.8;
  height: auto;
  min-height: 50vh; /* Ensure it takes up at least half of the viewport height */
  max-height: auto;
  align-self:first baseline; /* Align the image container to the bottom of its parent */
}

.read-more-btn {
  display: block;
  margin-top: 10px;
  background-color: #ff3d00;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Anton", sans-serif;
}

.read-more-btn:hover {
  background-color: #cc3100;
}

.section-subheading-rotated {
  color: black;
  transform: rotate(-10deg);
  transform-origin: top left; /* Rotates around the top left corner */
  font-size: 94px;
  font-style: italic;
  margin: 0px;
}

.square-box {
  font-size: 12px;
  box-sizing: border-box;
  margin: 0; /* Removes any extra margin */
  text-align: left; /* Aligns text to the left */
  max-height: 30vh; /* Initially limited height */
  overflow: hidden; /* Hide overflow text */
  height: auto; /* Let the height adjust automatically based on content */
  transition: max-height 0.3s ease, height 0.3s ease; /* Smooth transition for expanding/collapsing */

}

.square-box.expanded {
  max-height: none; /* Allows the full text to be shown when expanded */
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1, h2 {
  font-size: 90px;
  @include heading-font;
}

h3 {
  font-size: 44px;
  color: $primary;
  @include script-font;
}

h4, h5, h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  min-height: 100vh; /* Ensure it takes up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $off-white;
  width: 100%; /* Ensure it doesn't overflow */
  overflow-x: hidden; /* Prevent horizontal overflow */
  h2.section-heading {
    color: $primary;
    font-size: 200px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 44px;
    font-weight: 400;
    color: black !important;
    margin-bottom: 20px;
    text-transform: none;
    @include serif-font;
  }
}

@media (max-width: 768px) {
  .about-row {
    flex-direction: column; /* Stack the elements vertically on smaller screens */ 
  }

  .text-container {
    width: 100%; /* Ensure the text container takes up the full width */
    max-height: none; /* Allow the full height for the content */
    margin-bottom: 20px; /* Add space below the text container */
  }

  .image-container {
    margin-top: 0;
    width: 100%; /* Ensure the image container takes up the full width */
    height: 50vh; /* Make the image take up half the viewport height */
    background-size: cover; /* Adjust to fit the smaller screen */
  }

  h1, h2 {
    font-size: 50px !important; /* Adjust as needed */
  }

  h3 {
    font-size: 24px !important; /* Adjust as needed */
  }

  .page-section {
    padding: 20px 15px; /* Adjust padding for smaller screens */
    min-height: auto; /* Let the content define the height on smaller screens */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
}
