// Global styling for this template
body {
  background-color: $off-white;
  overflow-x: hidden;
  @include body-font;
}

// About page edits
.about-row {
  margin: -70px;
  background-image: url('../img/klinks-10.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  justify-content: flex-start;
  padding: 0px;
}
.section-subheading-rotated {
  color: black;
  transform: rotate(-10deg);
  transform-origin: top left; /* Rotates around the top left corner */
  font-size: 94px;
  font-style: italic;
  margin: 0px;
}
.square-box {
  font-size: 14px;
  box-sizing: border-box;
  width: 50%; /* Adjust as necessary */
  margin: 0; /* Removes any extra margin */
  padding-left: 0px; /* Optional: Adds padding on the left side */
  text-align: left; /* Aligns text to the left */
  padding-bottom: 16px;
}

.square-container {
  display: flex;
  justify-content: flex-start; /* Aligns child elements to the left */
  align-items: flex-start; /* Aligns items to the top */
  width: 100%;
}
p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2 {
   font-size: 90px;
   @include heading-font;
}
h3 {
    font-size: 44px;
    color: $primary;
    @include script-font;
}
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  background-color: $off-white;
  padding: 50px 0;
  h2.section-heading {
    color: $primary;
    font-size: 200px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 44px;
    font-weight: 400;
    color: black !important;
    margin-bottom: 20px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
