// Global styling for this template
/* Change heading font!!! */
@font-face {
  // font-family: 'ROMANTICE'; /* This is the name you will use to reference the font */ 
  // src: url('/assets/fonts/ROMANTICE.otf') format('truetype'); /* Path to your .ttf file */
  font-family: 'Mathison-Regular'; /* This is the name you will use to reference the font */ 
  src: url('/assets/fonts/Mathison-Regular.otf') format('truetype'); /* Path to your .ttf file */
  font-weight: bold; /* Assuming the font is bold */
  font-style: normal; /* Assuming normal style */
}

/* Change heading font!!! */
// body, h1, h2, h3, h4, h5, h6, p, a {
//   font-family: 'ROMANTICE', sans-serif; /* Fallback to sans-serif in case the font doesn't load */
// }
//
body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Mathison-Regular', sans-serif; /* Fallback to sans-serif in case the font doesn't load */
}

body {
  overflow-x: hidden; /* Ensure no horizontal overflow */
  @include body-font;
}

// About page edits
.about-row {
  display: flex;
  flex-direction: row; /* Arrange text and image side by side */
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: auto;
  align-items: flex-start;
}

.text-container {
  flex: 1;
  padding: 20px;
  height: auto;
  align-self: flex-start; /* Align the image container to the bottom of its parent */
  @include heading-font;
}

.text-container.expanded {
  max-height: none; /* Allows the full text to be shown when expanded */
}

.image-container {
  flex: 1;
  background-image: url('../img/flip_off.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.8;
  height: auto;
  min-height: 50vh; /* Ensure it takes up at least half of the viewport height */
  max-height: auto;
  align-self:first baseline; /* Align the image container to the bottom of its parent */
}

.read-more-btn {
  display: block;
  margin-top: 10px;
  background-color: $black;
  border-color: $off-white;
  border: solid;
  color: $off-white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Anton", sans-serif;
}

.section-subheading-rotated {
  color: black;
  transform: rotate(-10deg);
  transform-origin: top left; /* Rotates around the top left corner */
  font-size: 94px;
  font-style: italic;
  margin: 0px;
}

.square-box {
  font-size: 20px;
  box-sizing: border-box;
  margin: 0; /* Removes any extra margin */
  text-align: left; /* Aligns text to the left */
  max-height: 30vh; /* Initially limited height */
  overflow: hidden; /* Hide overflow text */
  height: auto; /* Let the height adjust automatically based on content */
  transition: max-height 0.3s ease, height 0.3s ease; /* Smooth transition for expanding/collapsing */
  p {
    color: $off-white;
    font-family: "Moderustic", sans-serif;
  }
}

.square-box.expanded {
  max-height: none; /* Allows the full text to be shown when expanded */
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-muted {
  color: $light-gold !important;
}

.text-primary {
  color: $primary !important;
}

h3 {
  font-size: 44px;
  color: $light-gold;
  @include script-font;
}

h4, h5, h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  min-height: 100vh; /* Ensure it takes up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $black; // BACKGROUND FOR PAGE SECTIONS!
  width: 100%; /* Ensure it doesn't overflow */
  overflow-x: hidden; /* Prevent horizontal overflow */
  h2.section-heading {
    color: $bright-red;
    text-align: center;
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  h3.section-subheading {
    font-size: 44px;
    font-weight: 400;;
    margin-bottom: 20px;
    text-transform: none;
    @include serif-font;
  }
}

@media (max-width: 768px) {
  .about-row {
    flex-direction: column; /* Stack the elements vertically on smaller screens */ 
  }

  .text-container {
    width: 100%; /* Ensure the text container takes up the full width */
    max-height: none; /* Allow the full height for the content */
    margin-bottom: 20px; /* Add space below the text container */
  }

  .image-container {
    background-image: url('../img/flip_off_bigger.png');
    margin-top: 0;
    width: 100%; /* Ensure the image container takes up the full width */
    height: 50vh; /* Make the image take up half the viewport height */
    background-size: cover; /* Adjust to fit the smaller screen */
  }

  h1, h2 {
    font-size: 50px !important; /* Adjust as needed */
  }

  h3 {
    font-size: 24px !important; /* Adjust as needed */
  }

  .page-section {
    padding: 20px 15px; /* Adjust padding for smaller screens */
    min-height: auto; /* Let the content define the height on smaller screens */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
}
