// Variables

// Restated Bootstrap Variables
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$off-white:  #d4d6c8;
// $off-white: #dab9c1; // #d4d6c8
// black muted = #313131 #26221e
// purp plum #734a5d
// lighter-plum #b28682;
$bright-red: #617766;
// $bright-red: #5f444c;
$light-gold: #9dd1ae;
// $light-gold: #946971;